.home {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    height: 850px;
    
    .img {
        position: absolute;
        height: 850px;
        width: 100%;
        background-image: url(../svg/home2.svg);
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
        top: 0;
    }

    .home-text {
        display: flex;
        place-content: center;
        flex-direction: column;
        text-align: center;
        padding: 10.875rem 0;
        gap: 2rem;
        color: var(--white-bg);

        h1 {
            font-size: 4rem;
        }

        p {
            font-size: 1.25rem;
        }

        .button {
            background-color: rgba(255, 255, 255, .4);
            backdrop-filter: blur(.55rem);
            display: inline-block;
            padding: 1rem 5rem;
            border-radius: .6rem;
        }
    }

}

.about {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    place-content: center;

    .cards {
        width: 90%;
        max-width: 1440px;
        padding: 3rem 4rem;
        color: var(--white-bg);
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        background-color: var(--green-bg);
        border-radius: 1rem;
        box-shadow: 0 160px 50px 120px white;
        position: absolute;
        top: -6.5rem;
        left: 50%;
        transform: translateX(-50%);

        .line {
            display: flex;
            width: 1px;
            height: 6rem;
            background-color: var(--white-bg);
        }
    }
}

@media (max-width: 950px) {
    .home {
        // background-color: var(--blue-bg);

        img {
            // display: none;
            transform: scale(100%);
            position: fixed;
        }

        .home-text {
            h1 {
                font-size: 2rem;
            }

            p {
                font-size: .8rem;
            }
        }
    }
}