:root {
// BG
    --blue-bg: #23262F;
    --green-bg: #286F6C;
    --white-bg: #FFFFFF;
    --gray-bg: #D9D9D9;
    --linear-bg: linear-gradient(to top, (hsl(0,0,100,60%)), (hsl(0,0,100,100%)));
}